/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Mar 2023, 14:48:47
    Author     : Huawei
*/

body
{
    width: 100%;
    overflow: auto;
    background-image: url(./picture/background.jpg);
    padding: 0;
    margin: 0;
}

input
{
    font-size: 2vw;
}

label
{
    margin-left: 5%;
    font-size: 2vw;
}

form
{
    width: 80%;
    margin:auto;
    margin-top: 9%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
}


#t1
{
    display: table;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: white;
    height: 12%;
    box-shadow: 1px 3px 8px rgb(140,140,140);
}


#menu
{
    width: 3%;
    display: inline-block;
    position: absolute;
    top: 23%;
    left: 2%;
}

#darkMode
{
    width: 3%;
    display: inline-block;
    position: absolute;
    top: 23%;
    left: 12%;
}

#h1
{
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 0%;
    font-size: 2.6vw;
}

#adminLogo
{
    display: inline-block;
    width: 4%;
    border-radius: 50%;
    right: 5%;
    top: 13%;
    position: absolute;
}